{% extends "User_Base.html" %}

{% macro render_field(field) %}
  <dt>{{ field.label }}
  <dd>{{ field(**kwargs)|safe }}
  {% if field.errors %}
    <ul class=errors>
    {% for error in field.errors %}
      <li>{{ error }}</li>
    {% endfor %}
    </ul>
  {% endif %}
  </dd>
{% endmacro %}

{% block left %}
    <div class="step_1"></div>
    <form action="register" method="post" name="register">
    {{form.hidden_tag()}}
    <ul>
            <li>
                <p class="username">邮箱帐号:{{ form.email }}
                    {% if form.email.errors %}
                    <span id="emailErr">
                        {{ form.email.errors[0] }}
                    </span>
                    {% endif %}
                </p>
            </li>

            <li>
                 <p class="password">密&nbsp;&nbsp;&nbsp;&nbsp;码:{{ form.password }}
                    {% if form.password.errors %}
                    <span id="pwdErr">
                        {{ form.password.errors[0] }}
                    </span>
                    {% endif %}
                </p>
            </li>

            <li>
                <p class="password">确认密码:{{ form.rpassword }}
                    {% if form.password.errors %}
                    {% else %}
                        {% if form.rpassword.errors %}
                        <span id="pwd2Err">
                            {{ form.rpassword.errors[0] }}
                        </span>
                        {% endif %}
                    {% endif %}
                </p>
            </li>
            <li class="reg_check_li">
                <div class="reg_check_div">
                    {{ form.accept_tos }}
                    <a href="#" class="web_clause">我已阅读并同意《加密用户服务条款》</a>
                </div>
                <span id="Ische" style="color: red; display: none;"></span>
            </li>
            <li>
                {% if form.accept_tos.data %}
                    <input type="submit" class="register_btn" id="reg" value="立即注册"/>
                {% else %}
                    <input type="submit" class="register_btnGray" id="reg" value="立即注册"/>
                {% endif %}
            </li>

        </ul>
    </form>

{% endblock %}

{% block right %}
     <div class="login_right">
         <h3>登录</h3>
         <h4>已有加密账号?</h4>
         <form>
             <a href="#">登&nbsp;&nbsp;录</a>
         </form>
     </div>

{% endblock %}